.tobuy-container {
    /* background-color: lightblue; */
    box-sizing: border-box;
    display: grid;
    gap: 0 10px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 18% 50%;
    grid-template-areas: 
    "one two"
    "three four";
}
@media only screen and (max-width: 768px) {
    .tobuy-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        ;
    }
}
.tobuy-one {
    grid-area: one;
    /* background-color: red; */
}
.tobuy-two {
    grid-area: two;
}
.tobuy-three {
    grid-area: three;
}
.tobuy-four {
    grid-area: four;
}
.tobuy-step-now {
    width: 94%; 
    margin-top: 290px;
}
@media only screen and (max-width: 768px) {
    .step-now {
        margin-top: 50px;
    }
}
.the-buy-sell {
    width: 94%;
}
@media only screen and (max-width: 768px) {
    .the-buy-sell {
        margin-top: 20px;
    }
}