 .menu {
    display: flex;
    align-items: center;
    color: #898F99;
    text-decoration:none !important;
   font-weight: 600 !important;
   font-size: 16px;
   font-family: Proxima Nova;
   border-bottom: 3px solid  transparent;
   transition: all .2s ease-in-out;
    padding:10px 1.5rem;
    cursor:pointer;
    height:100%;
 }
 /* .menu:active{
    background-color:#0D182C;
    color:#0059FF;
 } */
 /* .menu:focus {
    color: #0059FF;
 }
 .menu:visited {
    color: #0059FF;
 } */
 .menu:hover{
    /* color: #898F99; */
    transition: all .2s ease-in-out;
    /* background-color:#0D182C; */
    /* color:#fff; */
    /* border-bottom:3px solid  #0059FF; */
  

}