.main-container {
    box-sizing: border-box;
    display: grid;
    gap: 0 10px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 35%;
    grid-template-areas: 
    "one two"
    "three two";
}
@media only screen and (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "one"
        "two"
        "three";
    }
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
    margin-top: 70px;
}







.grid-two {
    display: grid;
    gap: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "recent crypto";
    margin: 20px 0 100px 0;
}
.grid-two-sub-one {
    grid-area: recent;
}
.grid-two-sub-two {
    grid-area: crypto;
}

@media only screen and (max-width: 768px) {
    .grid-two {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "crypto"
        "recent"
        ;
    }
}