.wallet-card-wrapper {
    width: 45%;
    min-height: 144px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #EEEDF2;
    padding: 10px 15px;
}
@media only screen and (max-width: 1400px) {
    .wallet-card-wrapper {
        width: 100%;
        margin: 10px auto;
    }
}
@media only screen and (max-width: 768px) {
    .wallet-card-wrapper {
        width: 100%;
        margin: 10px auto;
    }
}
.first-row {
    display: flex;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid gray;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 8px;
    margin-bottom: 30px;
}
.btn-for-recurr {
    background: #ffffff;
    border: 1px solid #d8dadd;
    border-radius: 8px;
    padding: 5px 20px;
    color: #0059ff;
    font-size: 13px;
    font-weight: 600;
    width: 210px;
    cursor: pointer;
  }