.summary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 200px;
  padding: 60px 30px;
  background-color: red;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 11px rgba(8, 12, 47, 0.08);
  border-radius: 8px;
}
.acc-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.couple-buttons {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
}
.acc-title {
  color: #3b4455;
  font-size: 14;
  font-weight: normal;
  margin-bottom: 8px;
}
.acc-amt-ngn {
  color: #1a2841;
  font-weight: bold;
  font-size: 24px;
}
.acc-btn-dep {
  display: flex;
  cursor: pointer;
  max-width: 135px;
  gap: 8;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.acc-btn-with {
  display: flex;
  cursor: pointer;
  max-width: 135px;
  background-color: #f0f5ff;
  color: #0059ff;
  gap: 8;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
