.wa-wrapper {
    /* display: flex; */
    width: 98% !important;
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #EBECEE;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(8, 12, 47, 0.08);
    border-radius: 8px;
}
.wa-row-one {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #eee;
    padding: 5px;
    margin-bottom: 20px;
}

