.investment-wrapper {
    width: 80%;
    margin: 40px auto;
    background-color: lightgray;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #1A2841;
    opacity: 0.5;
}
@media only screen and (max-width: 768px) {
    .investment-wrapper {
        margin: 110px auto 0 auto;
        width: 90%;
    }
}